a {
   text-decoration: none !important;
}

h3 {

   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 700;
   color: #296D6C;


}

.nav-link {

   color: #252834;
}

.end {

   margin-top: 280px;
}

.btn-l {

   color: #fff;
   background-color: #212529;
   border-color: #212529;


}

.btn-l:hover {

   background-color: #296D6C;
   color: #fff;

}


.myform {
   position: relative;
   display: -ms-flexbox;
   display: flex;
   align-items: center;
   padding: 1rem;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #fff;
   background-clip: padding-box;
   outline: 0;
}

.tx-tfm {
   text-transform: uppercase;
}

.mybtn {
   color: #fff;
   background-color: #296D6C;
   border-color: #296D6C;
   width: 100%;
}

.btn-primary:hover {

   background-color: #144746;
   border-color: #144746;
}

.login-or {
   position: relative;
   color: #aaa;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.span-or {
   display: block;
   position: absolute;
   left: 50%;
   top: -2px;
   margin-left: -25px;
   background-color: #fff;
   width: 50px;
   text-align: center;
}

.hr-or {
   height: 1px;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
}

.google {
   color: #666;
   width: 100%;
   height: 40px;
   text-align: center;
   outline: none;
   border: 1px solid lightgrey;
}

form .error {
   color: #ff0000;
}

#second {
   display: none;
}

.btn-outline-success {

   color: #296D6C;
   border-color: #296D6C;


}

.btn-outline-success:hover {

   color: #fff;
   background-color: #296D6C;
   border-color: #296D6C;


}

.pb3 {
      margin-bottom: 24px;

}

